<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <div class="container">
        <div class="alert-primary">
            user name: <span th:text="${user_name}"></span> </br>
            age: <span th:text="${age}"></span>
        </div>

        <ul>
            <li th:each="user: ${user_list}">
                <span class="badge-info" th:text=${user}></span>
            </li>
        </ul>
        <div th:text="${param.user_name}"></div>
        <div th:text="${#calendars.format(today,'yyyy-MM-dd')}"></div>
        <div th:text="${#calendars.format(today,'dd MMMM yyyy')}">13 May 2011</div>
        <div>
            <a th:href="@{user/comments(id=1,name=5)}">hello</a>
        </div>
</body>

</html>